<% layout('layouts/boilerplate') %>
    <div class="container py-5 d-flex flex-column my-5">
        <div class="row mx-2 mx-sm-0">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 px-0">
                <h1 class="text-center mb-5">Forum</h1>
                <a class="text-white text-decoration-none btn btn-success" href="/forum/new">
                    Make a Post
                </a>
                <% if(posts.length < 1) { %>
                    <h6 class="text-center my-5">
                        No posts found, be the first one to comment!
                    </h6>
                    <% } %>
                        <div class="list-group my-3 px-0">
                            <% for(let post of posts) { %>
                                <a href="/forum/<%= post.id %>"
                                    class="list-group-item d-flex justify-content-between py-3">
                                    <div class="d-flex flex-column">
                                        <h6 class="my-0 fw-bold pb-3">
                                            <%= post.title %>
                                        </h6>
                                        <p class="my-0">
                                            <%= post.description %>
                                        </p>
                                    </div>
                                    <p class="text-muted text-end">
                                        <%= post.created_at.toDateString() %>
                                    </p>
                                </a>
                                <% } %>
                        </div>
            </div>

        </div>
    </div>