<!-- create new post page -->

<% layout('layouts/boilerplate') %>
<div class="container my-5 py-5 d-flex flex-column">
  <div class="row mx-2 mx-sm-0">
    <div
      class="shadow rounded p-5 col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3"
    >
      <h1 class="text-center mb-5">New Post</h1>
      <form
        action="/forum"
        method="POST"
        novalidate
        class="validated-form"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="title"
            id="title"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a title.</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="description"
            id="description"
            class="form-control"
            rows="5"
            required
          ></textarea>
          <div class="invalid-feedback">Please enter a description.</div>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Upload Images</label>
          <input
            class="form-control"
            type="file"
            id="image"
            name="image"
            multiple
          />
          <div class="invalid-feedback">Please select valid images.</div>
        </div>
        <div
          class="d-flex flex-column flex-sm-row justify-content-between mt-5"
        >
          <a href="/forum" class="btn btn-outline-secondary mb-3 mb-sm-0"
            >Back to Forum</a
          >
          <button class="btn btn-success">Make Post</button>
        </div>
      </form>
    </div>
  </div>
</div>
