<div class="bg-dark text-muted text-decoration-none mt-auto">
    <footer class="container py-5  ">
        <div class="row row-cols-sm-5 row-cols-1 mx-2 mx-sm-0">
            <div class="col my-3 my-sm-0">
                <h6>About</h6>
                <ul class="nav d-flex flex-column">
                    <li class="mb-2"><a href="" class="text-muted text-decoration-none">Our Mission</a></li>
                    <li class="mb-2"><a href="" class="text-muted text-decoration-none">Program History</a></li>
                    <li class="mb-2"><a href="" class="text-muted text-decoration-none">Collaborating Schools</a></li>
                    <li class="mb-2"><a href="" class="text-muted text-decoration-none">News</a></li>
                </ul>
            </div>
            <div class="col my-3 my-sm-0">
                <h6>Partnership</h6>
                <ul class="nav d-flex flex-column">
                    <li class="mb-2"><a href="" class="text-muted text-decoration-none">BioBus</a></li>
                    <li class="mb-2"><a href="" class="text-muted text-decoration-none">Liberty Science Center</a></li>
                    <li class="mb-2"><a href="" class="text-muted text-decoration-none">Kaplan</a></li>
                </ul>
            </div>
            <div class="col my-3 my-sm-0">
                <h6>Students</h6>
                <ul class="nav d-flex flex-column">
                    <li class="mb-2"><a href="" class="text-muted text-decoration-none">College Tours</a></li>
                    <li class="mb-2"><a href="" class="text-muted text-decoration-none">Internship Listings</a></li>
                    <li class="mb-2"><a href="" class="text-muted text-decoration-none">Resources</a></li>
                    <li class="mb-2"><a href="" class="text-muted text-decoration-none">Scholarship Listings</a></li>
                    <li class="mb-2"><a href="" class="text-muted text-decoration-none">Virtual Workshops</a></li>
                </ul>
            </div>
            <div class="col my-3 my-sm-0">
                <h6>Parents</h6>
            </div>
            <div class="col my-3 my-sm-0">
                <h6>Contact Us</h6>
                <ul class="nav d-flex flex-column">
                    <li class="mb-2"><a href="" class="text-muted text-decoration-none">Email</a></li>
                    <li class="mb-2"><a href="" class="text-muted text-decoration-none">Phone</a></li>
                </ul>
            </div>
        </div>

    </footer>
</div>