<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gateway</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body class="d-flex flex-column">
    <%- include('./components/navbar') %>
        <%- include('./components/flash') %>
            <section id="event-banner">
                <div id="banner-container" class="container d-flex flex-column justify-content-center">
                    <div class="row mx-2 mx-sm-0">
                        <div id="ad" class="col-12 col-md-5 col-lg-4 col-xl-3 ms-auto text-white py-5 px-5 rounded">
                            <h3 class="mb-3">Program Fair</h3>
                            <p class="mb-5">Join us for a panel discussion with partnering programs looking for
                                outstanding
                                students for
                                their summer opportunities!</p>
                            <a href="" class="btn btn-success fw-bold text-white">View Details</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="container my-5 py-5">
                <h1>Gateway Offers</h1>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-6 py-5">
                    <div class="col mb-4">
                        <h4 class="fw-bold mb-3">Virtual College Tours</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque imperdiet auctor
                            ligula, eget aliquet purus blandit ut. </p>
                    </div>
                    <div class="col mb-4">
                        <h4 class="fw-bold mb-3">Virtual Workshops</h4>
                        <p>Morbi odio justo, congue non pellentesque eget, suscipit at urna. Duis ultrices mauris quis
                            blandit faucibus.</p>
                    </div>
                    <div class="col mb-4">
                        <h4 class="fw-bold mb-3">Exclusive Events</h4>
                        <p>Quisque id varius mi. Praesent ac nisi ullamcorper, vestibulum sem quis, ornare urna. Sed
                            lacinia sodales ornare.</p>
                    </div>
                    <div class="col mb-4">
                        <h4 class="fw-bold mb-3">Test Prep Resources</h4>
                        <p>Nunc ullamcorper ante ultricies lorem consequat, vel porttitor dolor malesuada.</p>
                    </div>
                    <div class="col mb-4">
                        <h4 class="fw-bold mb-3">Internship Opportunities</h4>
                        <p>Donec at congue tortor. Mauris urna elit, ultricies eget volutpat eget, tincidunt at quam.
                        </p>
                    </div>
                    <div class="col mb-4">
                        <h4 class="fw-bold mb-3">Scholarship Opportunities</h4>
                        <p>Donec elit quam, egestas bibendum augue at, consequat bibendum arcu. </p>
                    </div>
                    <div class="col mb-4">
                        <h4 class="fw-bold mb-3">Parent Resources</h4>
                        <p>Pellentesque habitant morbi tristique senectus et netus et
                            malesuada fames ac turpis egestas.</p>
                    </div>
                    <div class="col mb-4">
                        <h4 class="fw-bold mb-3">Alumni Groups</h4>
                        <p>Cras faucibus est at purus consectetur aliquet. Nullam rhoncus dictum turpis, sit amet
                            bibendum mi lobortis eu.</p>
                    </div>
                </div>
            </section>
            <section id="subscription" class="text-white">
                <div id="subscription-container" class="container py-5 d-flex flex-column align-items-center">
                    <h1 class="mb-5 mx-2 mx-sm-0">Subscribe to Our Newsletter!</h1>
                    <div class="row">
                        <form action="/" method="GET" class="col-12">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" name="email" id="email" class="form-control">
                            </div>
                            <div class="d-flex justify-content-center">
                                <button class="btn btn-success">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <%- include('./components/footer') %>

                <script src="/js/bootstrap.bundle.min.js"></script>
                <script src="/js/validateForm.js"></script>

</body>

</html>